{:enums {:InspectorPriority {:values [:LOW :MEDIUM :HIGH :MANDATORY]},
         :Priority {:values [:NORMAL :HIGH]}},
 :input-objects
   {:AdminInput {:fields {:user_id {:type (non-null ID)}}},
    :BudgetLimitInput {:fields {:amount_cents {:type Int},
                                :budget_period_id {:type (non-null ID)}}},
    :BudgetPeriodInput {:fields {:end_date {:type (non-null String)},
                                 :id {:type ID},
                                 :inspection_start_date {:type (non-null
                                                                 String)},
                                 :name {:type (non-null String)}}},
    :CategoryInput {:fields {:cost_center {:type String},
                             :general_ledger_account {:type String},
                             :id {:type ID},
                             :inspectors {:type (list ID)},
                             :name {:type (non-null String)},
                             :procurement_account {:type String},
                             :viewers {:type (list ID)}}},
    :CategoryViewersInput {:fields {:id {:type (non-null ID)},
                                    :viewers {:type (list ID)}}},
    :DeleteRequestInput {:fields {:id {:type (non-null ID)}}},
    :MainCategoryInput {:fields {:budget_limits {:type (list
                                                         :BudgetLimitInput)},
                                 :categories {:type (list :CategoryInput)},
                                 :id {:type ID},
                                 :name {:type (non-null String)}}},
    :NewRequestInput {:fields {:accounting_type {:type String},
                               :approved_quantity {:type Int},
                               :article_name {:type (non-null String)},
                               :article_number {:type String},
                               ; :attachments {:type (list :Attachment)},
                               :budget_period {:type (non-null ID)},
                               :category {:type (non-null ID)},
                               :inspection_comment {:type String},
                               :inspector_priority {:type :InspectorPriority},
                               :internal_order_number {:type String},
                               :location_name {:type String},
                               :model {:type ID},
                               :motivation {:type String},
                               :order_quantity {:type Int},
                               :organization {:type (non-null ID)},
                               :price_cents {:type Int},
                               :price_currency {:type String},
                               :priority {:type :Priority},
                               :receiver {:type String},
                               :replacement {:type Boolean},
                               :requested_quantity {:type (non-null Int)},
                               :room {:type (non-null ID)},
                               :supplier {:type ID},
                               :supplier_name {:type String},
                               :user {:type (non-null ID)}}},
    :ProcurementSettingsInput {:fields {:contact_url {:type String},
                                        :inspection_comments
                                          {:type (list String)}}},
    ; NOTE: For the purpose of UI and required fields (*) an extra key
    ; `:required`
    ; should be used rather then using `non-null` and the schema information.
    :RequestInput {:fields {:accounting_type {:type String},
                            :approved_quantity {:type Int},
                            :article_name {:type String},
                            :article_number {:type String},
                            ; :attachments {:type (list :Attachment)},
                            :budget_period {:type ID},
                            :category {:type ID},
                            :id {:type (non-null ID)},
                            :inspection_comment {:type String},
                            :inspector_priority {:type :InspectorPriority},
                            :internal_order_number {:type String},
                            :location_name {:type String},
                            :model {:type ID},
                            :motivation {:type String},
                            :order_quantity {:type Int},
                            :organization {:type ID},
                            :price_cents {:type Int},
                            :price_currency {:type String},
                            :priority {:type :Priority},
                            :receiver {:type String},
                            :replacement {:type Boolean},
                            :requested_quantity {:type Int},
                            :room {:type ID},
                            :supplier {:type ID},
                            :supplier_name {:type String},
                            :user {:type ID}}},
    :RequesterOrganizationInput {:fields {:department {:type (non-null String)},
                                          :organization {:type (non-null
                                                                 String)},
                                          :user_id {:type (non-null ID)}}},
    :TemplateInput {:fields {:article_name {:type String},
                             :article_number {:type String},
                             :category_id {:type (non-null ID)},
                             :id {:type ID},
                             :model {:type ID},
                             :price_cents {:type (non-null Int)},
                             :supplier_id {:type ID}}}},
 :mutations
   {:admins {:args {:input_data {:type (list :AdminInput)}},
             :resolve :update-admins,
             :type (list :User)},
    :budget_periods {:args {:input_data {:type (list :BudgetPeriodInput)}},
                     :resolve :update-budget-periods,
                     :type (list :BudgetPeriod)},
    :categories_viewers {:args {:input_data {:type (list
                                                     :CategoryViewersInput)}},
                         :resolve :update-categories-viewers,
                         :type (list :Category)},
    :delete_request {:args {:input_data {:type :DeleteRequestInput}},
                     :resolve :delete-request,
                     :type Boolean},
    :main_categories {:args {:input_data {:type (list :MainCategoryInput)}},
                      :resolve :update-main-categories,
                      :type (list :MainCategory)},
    :new_request {:args {:input_data {:type :NewRequestInput}},
                  :resolve :create-request,
                  :type :Request},
    :request {:args {:input_data {:type :RequestInput}},
              :resolve :update-request,
              :type :Request},
    :requesters_organizations
      {:args {:input_data {:type (list :RequesterOrganizationInput)}},
       :resolve :update-requesters-organizations,
       :type (list :RequesterOrganization)},
    :settings {:args {:input_data {:type :ProcurementSettingsInput}},
               :resolve :update-settings,
               :type :ProcurementSettings},
    :templates {:args {:input_data {:type (list :TemplateInput)}},
                :resolve :update-templates,
                :type (list :Template)}},
 :objects
   {:Attachment {:fields {:filename {:type String},
                          :id {:type (non-null ID)},
                          :url {:type (non-null String)}}},
    :BudgetLimit {:fields {:amount_cents {:type (non-null Int)},
                           :amount_currency {:type (non-null String)},
                           :budget_period {:resolve :budget-period,
                                           :type (non-null :BudgetPeriod)},
                           :id {:type (non-null ID)},
                           :main_category {:resolve :main-category,
                                           :type (non-null :MainCategory)}}},
    :BudgetPeriod {:fields {:can_delete {:resolve :can-delete-budget-period?,
                                         :type (non-null Boolean)},
                            :end_date {:type (non-null String)},
                            :id {:type (non-null ID)},
                            :inspection_start_date {:type (non-null String)},
                            :main_categories {:resolve :main-categories,
                                              :type (list :MainCategory)},
                            :name {:type (non-null String)},
                            :total_price_cents_approved_quantities
                              {:resolve :total-price-cents-approved-quantities,
                               :type (non-null Int)},
                            :total_price_cents_order_quantities
                              {:resolve :total-price-cents-order-quantities,
                               :type (non-null Int)},
                            :total_price_cents_requested_quantities
                              {:resolve :total-price-cents-requested-quantities,
                               :type (non-null Int)}}},
    :Building {:fields {:code {:type String},
                        :id {:type (non-null ID)},
                        :name {:type (non-null String)},
                        :rooms {:resolve :rooms, :type (list :Room)}}},
    :Category
      {:fields
         {:can_delete {:resolve :can-delete-category?,
                       :type (non-null Boolean)},
          :cost_center {:type String},
          :general_ledger_account {:type String},
          :id {:type (non-null ID)},
          :inspectors {:resolve :inspectors, :type (list :User)},
          :main_category {:resolve :main-category, :type :MainCategory},
          :name {:type (non-null String)},
          :procurement_account {:type String},
          :requests
            {:args
               {:from_categories_of_auth_user {:type Boolean},
                :id {:type (list ID)},
                :inspectory_priority {:type (list :InspectorPriority)},
                :organization_id {:type (list ID)},
                :priority {:type (list :Priority)},
                :requested_by_auth_user {:type Boolean},
                :search {:type String},
                :state {:type (list String)}},
             :resolve :requests,
             :type (list :Request)},
          :viewers {:resolve :viewers, :type (list :User)}}},
    :CurrentUser {:fields {:saved_filters {:type :SavedFilters},
                           :user {:type (non-null :User)}}},
    :MainCategory
      {:fields
         {:budget_limits {:resolve :budget-limits, :type (list :BudgetLimit)},
          :can_delete {:resolve :can-delete-main-category?,
                       :type (non-null Boolean)},
          :categories
            {:args {:id {:type (list ID)}},
             :resolve :categories,
             :type (list :Category)},
          :id {:type (non-null ID)},
          :image_url {:type String},
          :name {:type (non-null String)}}},
    :Model {:fields {:id {:type (non-null ID)},
                     :product {:type (non-null String)},
                     :version {:type String}}},
    :Organization {:fields {:id {:type (non-null ID)},
                            :name {:type (non-null String)},
                            :organizations {:resolve :organizations,
                                            :type (list :Organization)},
                            :parent_id {:type ID},
                            :shortname {:type String}}},
    :Request
      {:fields
         {:accounting_type {:type :RequestFieldString},
          :approved_quantity {:type :RequestFieldInt},
          :article_name {:type :RequestFieldString},
          :article_number {:type :RequestFieldString},
          ; :attachments {:type :RequestFieldAttachments},
          :budget_period {:type :RequestFieldBudgetPeriod},
          :category {:type :RequestFieldCategory},
          :cost_center {:resolve :cost-center, :type :RequestFieldCostCenter},
          :general_ledger_account {:resolve :general-ledger-account,
                                   :type :RequestFieldGeneralLedgerAccount},
          :id {:type (non-null ID)},
          :inspection_comment {:type :RequestFieldString},
          :inspector_priority {:type :RequestFieldInspectorPriority},
          :internal_order_number {:type :RequestFieldString},
          :model {:type :RequestFieldModel},
          :motivation {:type :RequestFieldString},
          :order_quantity {:type :RequestFieldInt},
          :organization {:type :RequestFieldOrganization},
          :price_cents {:type :RequestFieldInt},
          :price_currency {:type :RequestFieldString},
          :priority {:type :RequestFieldPriority},
          :procurement_account {:resolve :procurement-account,
                                :type :RequestFieldProcurementAccount},
          :receiver {:type :RequestFieldString},
          :replacement {:type :RequestFieldBoolean},
          :requested_quantity {:type :RequestFieldInt},
          :room {:type :RequestFieldRoom},
          :state {:type :RequestFieldString},
          :supplier {:type :RequestFieldSupplier},
          :supplier_name {:type :RequestFieldString},
          :user {:type :RequestFieldUser}}},
    ; :RequestFieldAttachments {:fields {:read {:type (non-null Boolean)},
    ;                                    :value {:type (list :Attachment)},
    ;                                    :write {:type (non-null Boolean)}}},
    :RequestFieldBoolean {:fields {:read {:type (non-null Boolean)},
                                   :value {:type Boolean},
                                   :write {:type (non-null Boolean)}}},
    :RequestFieldBudgetPeriod {:fields {:read {:type (non-null Boolean)},
                                        :value {:resolve :budget-period,
                                                :type :BudgetPeriod},
                                        :write {:type (non-null Boolean)}}},
    :RequestFieldCategory {:fields {:read {:type (non-null Boolean)},
                                    :value {:resolve :category,
                                            :type :Category},
                                    :write {:type (non-null Boolean)}}},
    :RequestFieldCostCenter {:fields {:read {:type (non-null Boolean)},
                                      :value {:type String},
                                      :write {:type (non-null Boolean)}}},
    :RequestFieldGeneralLedgerAccount {:fields
                                         {:read {:type (non-null Boolean)},
                                          :value {:type String},
                                          :write {:type (non-null Boolean)}}},
    :RequestFieldID {:fields {:read {:type (non-null Boolean)},
                              :value {:type (non-null ID)},
                              :write {:type (non-null Boolean)}}},
    :RequestFieldInspectorPriority {:fields {:read {:type (non-null Boolean)},
                                             :value {:type :InspectorPriority},
                                             :write {:type (non-null
                                                             Boolean)}}},
    :RequestFieldInt {:fields {:read {:type (non-null Boolean)},
                               :value {:type Int},
                               :write {:type (non-null Boolean)}}},
    :RequestFieldModel {:fields {:read {:type (non-null Boolean)},
                                 :value {:resolve :model, :type :Model},
                                 :write {:type (non-null Boolean)}}},
    :RequestFieldOrganization {:fields {:read {:type (non-null Boolean)},
                                        :value {:resolve :organization,
                                                :type :Organization},
                                        :write {:type (non-null Boolean)}}},
    :RequestFieldProcurementAccount {:fields {:read {:type (non-null Boolean)},
                                              :value {:type String},
                                              :write {:type (non-null
                                                              Boolean)}}},
    :RequestFieldRoom {:fields {:read {:type (non-null Boolean)},
                                :value {:resolve :room, :type :Room},
                                :write {:type (non-null Boolean)}}},
    :RequestFieldPriority {:fields {:read {:type (non-null Boolean)},
                                    :value {:type :Priority},
                                    :write {:type (non-null Boolean)}}},
    :RequestFieldString {:fields {:read {:type (non-null Boolean)},
                                  :value {:type String},
                                  :write {:type (non-null Boolean)}}},
    :RequestFieldSupplier {:fields {:read {:type (non-null Boolean)},
                                    :value {:resolve :supplier,
                                            :type :Supplier},
                                    :write {:type (non-null Boolean)}}},
    :RequestFieldUser {:fields {:read {:type (non-null Boolean)},
                                :value {:resolve :user, :type :User},
                                :write {:type (non-null Boolean)}}},
    :RequesterOrganization {:fields
                              {:department {:resolve :department,
                                            :type (non-null :Organization)},
                               :id {:type (non-null ID)},
                               :organization {:resolve :organization,
                                              :type (non-null :Organization)},
                               :user {:resolve :user, :type (non-null :User)}}},
    :Room {:fields {:building {:resolve :building, :type (non-null :Building)},
                    :description {:type String},
                    :id {:type (non-null ID)},
                    :name {:type (non-null String)}}},
    :SavedFilters {:fields {:budget_period_ids {:type (list ID)},
                            :categories_with_requests {:type Boolean},
                            :category_ids {:type (list ID)},
                            :inspector_priorities {:type (list String)},
                            :organization_ids {:type (list ID)},
                            :priorities {:type (list String)},
                            :search {:type String},
                            :sort_by {:type String},
                            :sort_dir {:type String},
                            :states {:type (list String)}}},
    :ProcurementSettings {:fields {:contact_url {:type String},
                                   :inspection_comments {:type (list String)}}},
    :Supplier {:fields {:id {:type (non-null ID)},
                        :name {:type (non-null String)}}},
    :Template {:fields {:article_name {:type String},
                        :article_number {:type String},
                        :category {:type (non-null :Category)},
                        :id {:type (non-null ID)},
                        :model {:type :Model},
                        :price_cents {:type (non-null Int)},
                        :price_currenty {:type (non-null String)},
                        :supplier {:type :Supplier},
                        :supplier_name {:type String}}},
    :User {:fields {:email {:type String},
                    :firstname {:type (non-null String)},
                    :id {:type (non-null ID)},
                    :lastname {:type String},
                    :login {:type String}}}},
 :queries
   {:admins {:resolve :admins, :type (list :User)},
    :budget_limits {:resolve :budget-limits, :type (list :BudgetLimit)},
    :budget_periods {:args {:id {:type (list ID)}},
                     :resolve :budget-periods,
                     :type (list :BudgetPeriod)},
    :buildings {:resolve :buildings, :type (list :Building)},
    :categories {:args {:id {:type (list ID)},
                        :inspected_by_auth_user {:type Boolean}},
                 :resolve :categories,
                 :type (list :Category)},
    :current_user {:resolve :current-user, :type :CurrentUser},
    :main_categories {:resolve :main-categories, :type (list :MainCategory)},
    :organizations {:args {:root_only {:type (non-null Boolean)}},
                    :resolve :organizations,
                    :type (list :Organization)},
    :requesters_organizations {:resolve :requesters-organizations,
                               :type (list :RequesterOrganization)},
    :requests {:args {:budget_period_id {:type (list ID)},
                      :category_id {:type (list ID)},
                      :from_categories_of_auth_user {:type Boolean},
                      :id {:type (list ID)},
                      :inspectory_priority {:type (list :InspectorPriority)},
                      :organization_id {:type (list ID)},
                      :priority {:type (list :Priority)},
                      :requested_by_auth_user {:type Boolean},
                      :search {:type String},
                      :state {:type (list String)}},
               :resolve :requests,
               :type (list :Request)},
    :rooms
      {:args {:building_id {:type ID}}, :resolve :rooms, :type (list :Room)},
    :settings {:resolve :settings, :type :ProcurementSettings},
    :templates {:resolve :templates, :type (list :Template)},
    :users {:args {:exclude_ids {:type (list ID)},
                   :limit {:type (non-null Int)},
                   :offset {:type (non-null Int)},
                   :search_term {:type (non-null String)}},
            :resolve :users,
            :type (list :User)}}}
