.DS_Store
Dockerfile
Dockerfile*
.dockerignore
docker-compose*
.env*

/.git
/README*
/server/README*
/client/README*
/cider-ci
/cider-ci*
/.cider-ci
/.cider-ci*
/_cider-ci_keep
/server/.cpcache
/server/.lsp
/server/.clj-kondo
/.vscode
/server/scripts/tmux
/bin/docker*

/server/resources/built-info.yml
/client/leihs-ui
/server/shared-clj/.git
/server/shared-clj/.gitignore
/server/shared-clj/.mux.yml
/server/shared-clj/bin
/server/shared-clj/scripts
/server/shared-clj/test
/server/database
!/server/database/Gemfile*
/client/node_modules
/server/spec
/server/target
/server/tmp
/server/.java-version
/server/.rspec