.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
/.DS_Store
/.cpcache
/.sass-cache
/.shadow-cljs
/leihs-ui.tgz
/log
/node_modules
/resources/all/public/admin/js/
/target
/tmp
figwheel_server.log
profiles.clj
resources/all/public/admin/build-timestamp.txt
