**/.DS_Store
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
/.cpcache
/.sass-cache
/.shadow-cljs
/leihs-ui.tgz
/log
/node_modules
/resources/public/admin/js/
/target
/tmp
figwheel_server.log
profiles.clj
resources/built-info.yml
