.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
/.DS_Store
/.sass-cache
/leihs-ui.tgz
/log
/target
/tmp
figwheel_server.log
profiles.clj
resources/all/public/admin/build-timestamp.txt
