{:input-objects
   {:AdminInput {:fields {:user_id {:type ID}}},
    :BudgetLimitInput {:fields {:amount_cents {:type Int},
                                :budget_period_id {:type ID}}},
    :BudgetPeriodInput {:fields {:end_date {:type String},
                                 :id {:type ID},
                                 :inspection_start_date {:type String},
                                 :name {:type String}}},
    :CategoryInput {:fields {:cost_center {:type String},
                             :general_ledger_account {:type String},
                             :id {:type ID},
                             :inspectors {:type (list ID)},
                             :name {:type (non-null String)},
                             :viewers {:type (list ID)}}},
    :MainCategoryInput {:fields {:budget_limits {:type (list
                                                         :BudgetLimitInput)},
                                 :categories {:type (list :CategoryInput)},
                                 :id {:type ID},
                                 :name {:type (non-null String)}}},
    :RequesterOrganizationInput {:fields {:department {:type String},
                                          :organization {:type String},
                                          :user_id {:type ID}}}},
 :mutations
   {:admins {:args {:input_data {:type (list :AdminInput)}},
             :resolve :update-admins,
             :type (list :User)},
    :budget_periods {:args {:input_data {:type (list :BudgetPeriodInput)}},
                     :resolve :update-budget-periods,
                     :type (list :BudgetPeriod)},
    :main_categories {:args {:input_data {:type (list :MainCategoryInput)}},
                      :resolve :update-main-categories,
                      :type (list :MainCategory)},
    :requesters_organizations
      {:args {:input_data {:type (list :RequesterOrganizationInput)}},
       :resolve :update-requesters-organizations,
       :type (list :RequesterOrganization)}},
 :objects
   {:Attachment {:fields {:filename {:type String}, :id {:type ID}}},
    :BudgetLimit
      {:fields {:amount_cents {:type (non-null Int)},
                :amount_currency {:type String},
                :budget_period {:resolve :budget-period, :type :BudgetPeriod},
                :id {:type ID},
                :main_category {:resolve :main-category, :type :MainCategory}}},
    :BudgetPeriod
      {:fields
         {:can_delete {:resolve :can-delete-budget-period?, :type Boolean},
          :end_date {:type String},
          :id {:type ID},
          :inspection_start_date {:type String},
          :name {:type String},
          :total_price_cents_approved_quantities
            {:resolve :total-price-cents-approved-quantities, :type Int},
          :total_price_cents_order_quantities
            {:resolve :total-price-cents-order-quantities, :type Int},
          :total_price_cents_requested_quantities
            {:resolve :total-price-cents-requested-quantities, :type Int}}},
    :Building {:fields {:id {:type ID}, :name {:type String}}},
    :Category {:fields {:can_delete {:resolve :can-delete-category?,
                                     :type Boolean},
                        :cost_center {:type String},
                        :general_ledger_account {:type String},
                        :id {:type ID},
                        :inspectors {:resolve :inspectors, :type (list :User)},
                        :name {:type String},
                        :viewers {:resolve :viewers, :type (list :User)}}},
    :CurrentUser {:fields {:saved_filters {:type :SavedFilters},
                           :user {:type :User}}},
    :MainCategory {:fields {:budget_limits {:resolve :budget-limits,
                                            :type (list :BudgetLimit)},
                            :can_delete {:resolve :can-delete-main-category?,
                                         :type (non-null Boolean)},
                            :categories {:resolve :categories,
                                         :type (list :Category)},
                            :id {:type ID},
                            :image_url {:type String},
                            :name {:type String}}},
    :Model {:fields {:id {:type ID},
                     :product {:type String},
                     :version {:type String}}},
    :Organization {:fields {:id {:type ID},
                            :name {:type String},
                            :organizations {:resolve :organizations,
                                            :type (list :Organization)},
                            :parent_id {:type ID},
                            :shortname {:type String}}},
    :Request {:fields
                {:accounting_type {:type (non-null String)},
                 :approved_quantity {:type Int},
                 :article_name {:type (non-null String)},
                 :article_number {:type String},
                 :attachments {:resolve :attachments, :type (list :Attachment)},
                 :budget_period {:resolve :budget-period, :type :BudgetPeriod},
                 :category {:resolve :category, :type :Category},
                 :id {:type ID},
                 :inspection_comment {:type String},
                 :internal_order_id {:type String},
                 :model {:resolve :model, :type :Model},
                 :motivation {:type String},
                 :order_quantity {:type Int},
                 :organization {:resolve :organization, :type :Organization},
                 :price_cents {:type (non-null Int)},
                 :price_currency {:type String},
                 :priority {:type Int},
                 :priority_inspector {:type Int},
                 :receiver {:type String},
                 :requested_quantity {:type (non-null Int)},
                 :room {:resolve :room, :type :Room},
                 :state {:type String},
                 :supplier {:resolve :supplier, :type :Supplier},
                 :supplier_name {:type String},
                 :user {:resolve :user, :type :User}}},
    :RequestField {:fields {:name {:type String},
                            :read {:type Boolean},
                            :value {:type String},
                            :write {:type Boolean}}},
    :RequesterOrganization
      {:fields {:department {:resolve :department, :type :Organization},
                :id {:type (non-null ID)},
                :organization {:resolve :organization, :type :Organization},
                :user {:resolve :user, :type :User}}},
    :Room {:fields {:building {:resolve :building, :type :Building},
                    :id {:type ID},
                    :name {:type String}}},
    :SavedFilters {:fields {:budget_period_ids {:type (list ID)},
                            :categories_with_requests {:type Boolean},
                            :category_ids {:type (list ID)},
                            :inspector_priorities {:type (list String)},
                            :organization_ids {:type (list ID)},
                            :priorities {:type (list String)},
                            :search {:type String},
                            :sort_by {:type String},
                            :sort_dir {:type String},
                            :states {:type (list String)}}},
    :Supplier {:fields {:id {:type ID}, :name {:type String}}},
    :User {:fields {:email {:type String},
                    :firstname {:type String},
                    :id {:type ID},
                    :lastname {:type String},
                    :login {:type String}}}},
 :queries
   {:admins {:resolve :admins, :type (list :User)},
    :budget_limits {:resolve :budget-limits, :type (list :BudgetLimit)},
    :budget_periods {:resolve :budget-periods, :type (list :BudgetPeriod)},
    :categories {:args {:inspected_by_auth_user {:type Boolean}},
                 :resolve :categories,
                 :type (list :Category)},
    :current_user {:resolve :current-user, :type :CurrentUser},
    :main_categories {:resolve :main-categories, :type (list :MainCategory)},
    :organizations {:args {:root_only {:type Boolean}},
                    :resolve :organizations,
                    :type (list :Organization)},
    :priorities {:resolve :priorities, :type (list Int)},
    :priorities_inspector {:resolve :priorities-inspector, :type (list Int)},
    :request_by_id
      {:args {:id {:type ID}}, :resolve :request-by-id, :type :Request},
    :request_fields_by_id {:args {:request_id {:type ID}},
                           :resolve :request-fields-by-id,
                           :type (list :RequestField)},
    :requesters_organizations {:resolve :requesters-organizations,
                               :type (list :RequesterOrganization)},
    :requests {:args {:budget_period_id {:type (list ID)},
                      :category_id {:type (list ID)},
                      :from_categories_of_auth_user {:type Boolean},
                      :inspectory_priority {:type (list String)},
                      :organization_id {:type (list ID)},
                      :priority {:type (list String)},
                      :requested_by_auth_user {:type Boolean},
                      :search {:type String},
                      :state {:type (list String)}},
               :resolve :requests,
               :type (list :Request)},
    :rooms
      {:args {:building_id {:type ID}}, :resolve :rooms, :type (list :Room)},
    :users {:args {:exclude_ids {:type (list ID)},
                   :limit {:type Int},
                   :offset {:type Int},
                   :search_term {:type String}},
            :resolve :users,
            :type (list :User)}}}
