{:objects {:Attachment {:fields {:id {:type ID}
                                 :filename {:type String}}}

           :BudgetPeriod {:fields {:id {:type ID}
                                   :name {:type String}
                                   :inspection_start_date {:type String}
                                   :end_date {:type String}}}

           :BudgetLimit {:fields {:id {:type ID}
                                  :budget_period {:type :BudgetPeriod
                                                  :resolve :budget-period}
                                  :main_category {:type :MainCategory
                                                  :resolve :main-category}
                                  :amount_cents {:type (non-null Int)}
                                  :amount_currency {:type String}}}

           :Building {:fields {:id {:type ID}
                               :name {:type String}}}

           :Category {:fields {:id {:type ID}
                               :name {:type String}}}

           :CurrentUser {:fields {:user {:type :User}
                                  :saved_filters {:type :SavedFilters}}}

           :MainCategory {:fields {:id {:type ID}
                                   :name {:type String}
                                   :budget_limits {:type (list :BudgetLimit)
                                                   :resolve :budget-limits}
                                   :categories {:type (list :Category)
                                                :resolve :categories}}}

           :Model {:fields {:id {:type ID}
                            :product {:type String}
                            :version {:type String}}}

           :Organization {:fields {:id {:type ID}
                                   :name {:type String}
                                   :shortname {:type String}
                                   :parent_id {:type ID}
                                   :organizations {:type (list :Organization)
                                                   :resolve :organizations}}}

           :RequestField {:fields {:name {:type String}
                                   :value {:type String}
                                   :read {:type Boolean}
                                   :write {:type Boolean}}}

           :Request {:fields {:id {:type ID}
                              :accounting_type {:type (non-null String)}
                              :approved_quantity {:type Int}
                              :article_name {:type (non-null String)}
                              :article_number {:type String}
                              :attachments {:type (list :Attachment)
                                            :resolve :attachments}
                              :budget_period {:type :BudgetPeriod
                                              :resolve :budget-period}
                              :category {:type :Category
                                         :resolve :category}
                              :inspection_comment {:type String}
                              :internal_order_id {:type String}
                              :model {:type :Model
                                      :resolve :model}
                              :motivation {:type String}
                              :order_quantity {:type Int}
                              :organization {:type :Organization
                                             :resolve :organization}
                              :priority {:type Int}
                              :priority_inspector {:type Int}
                              :receiver {:type String}
                              :price_cents {:type (non-null Int)}
                              :price_currency {:type String}
                              :requested_quantity {:type (non-null Int)}
                              :room {:type :Room
                                     :resolve :room}
                              :state {:type String}
                              :supplier {:type :Supplier
                                         :resolve :supplier}
                              :supplier_name {:type String}
                              :user {:type :User
                                     :resolve :user}}}

           :RequesterOrganization {:fields {:user {:type :User
                                                   :resolve :user}
                                            :organization {:type :Organization
                                                           :resolve :organization}
                                            :department {:type :Organization
                                                         :resolve :department}}}

           :Room {:fields {:id {:type ID}
                           :building {:type :Building
                                      :resolve :building}
                           :name {:type String}}}

           :SavedFilters {:fields {:sort_by {:type String}
                                   :sort_dir {:type String}
                                   :search {:type String}
                                   :category_ids {:type (list ID)}
                                   :categories_with_requests {:type Boolean}
                                   :organization_ids {:type (list ID)}
                                   :priorities {:type (list String)}
                                   :inspector_priorities {:type (list String)}
                                   :states {:type (list String)}
                                   :budget_period_ids {:type (list ID)}}}

           :Supplier {:fields {:id {:type ID}
                               :name {:type String}}}

           :User {:fields {:id {:type ID}
                           :email {:type String}
                           :firstname {:type String}
                           :lastname {:type String}
                           :login {:type String}}}}

:input-objects {:RequesterOrganizationInput {:fields {:user_id {:type ID}
                                                      :department {:type String}
                                                      :organization {:type String}}}}

:queries {:admins {:type (list :User)
                   :resolve :admins}
          
          :budget_limits {:type (list :BudgetLimit)
                          :resolve :budget-limits}

          :budget_periods {:type (list :BudgetPeriod)
                           :resolve :budget-periods}

          :categories {:type (list :Category)
                       :args {:inspected_by_auth_user {:type Boolean}}
                       :resolve :categories}

          :current_user {:type :CurrentUser
                         :resolve :current-user}

          :main_categories {:type (list :MainCategory)
                            :resolve :main-categories}

          :organizations {:type (list :Organization)
                          :args {:root_only {:type Boolean}}
                          :resolve :organizations}

          :priorities {:type (list Int)
                       :resolve :priorities}

          :priorities_inspector {:type (list Int)
                                 :resolve :priorities_inspector}

          :request_by_id {:type :Request
                          :args {:id {:type ID}}
                          :resolve :request-by-id}

          :requests {:type (list :Request)
                     :args {:requested_by_auth_user {:type Boolean}
                            :from_categories_of_auth_user {:type Boolean}
                            :category_id {:type (list ID)}
                            :budget_period_id {:type (list ID)}
                            :organization_id {:type (list ID)}
                            :priority {:type (list String)}
                            :inspectory_priority {:type (list String)}
                            :search {:type String}
                            :state {:type (list String)}}
                     :resolve :requests}

          :requesters_organizations {:type (list :RequesterOrganization)
                                     :resolve :requesters_organizations}

          :request_fields_by_id {:type (list :RequestField)
                                 :args {:request_id {:type ID}}
                                 :resolve :request-fields-by-id}

          :rooms {:type (list :Room)
                  :args {:building_id {:type ID}}
                  :resolve :rooms}}

:mutations {:requesters_organizations {:type (list :RequesterOrganization)
                                       :args {:input_data {:type (list :RequesterOrganizationInput)}}
                                       :resolve :update_requesters_organizations}}}
