@import '~bootstrap/dist/css/bootstrap.css';

/* variables (used in React inline styles, needs browser support)
   vars used but not defined here come from bootstrap.
*/
:root {
  --content-color: var(--black);
  --content-bg-color: var(--white);
}

body {
  background: var(--content-bg-color);
}

/* bootstrap extensions */
.text-strike {
  text-decoration: line-through !important;
}

.list-group-compact > .list-group-item,
.list-group-item-compact {
  padding: 0.3rem 0.6rem;
}

/*
 TODO: form field styles for 'to be deleted' (muted .bg-danger, .text-strike)
*/

/* app styles */

/* ??? action buttons ??? */
.btn:not(.btn-flat) {
  /* box-shadow: 0 0.2rem 0 0 rgba(52, 58, 64, 0.25); */
  border-bottom-width: 0.2rem;
}
